<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1 minutes" debug="false">

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="UTF-8">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern>
		</encoder>
	</appender>

<!--
	<appender name="FileDebug" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
		<filter class="ch.qos.logback.classic.filter.LevelFilter"> 
 	     	<level>DEBUG</level> 
 	    	<OnMismatch>DENY</OnMismatch> 
 	   		<OnMatch>ACCEPT</OnMatch> 
        	</filter>  
 		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
 			<fileNamePattern>../logs/throwable.%d{yyyy-MM-dd}.debug.log</fileNamePattern> 
 			<maxHistory>5</maxHistory> 
 		</rollingPolicy> 
 		<encoder> 
 			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern> 
 		</encoder> 
 		<prudent>true</prudent> 
 	</appender> 

 	<appender name="FileInfo" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
 		<filter class="ch.qos.logback.classic.filter.LevelFilter"> 
 	     	<level>INFO</level> 
 	    	<OnMismatch>DENY</OnMismatch> 
 	   		<OnMatch>ACCEPT</OnMatch> 
        	</filter>  
 		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
 			<fileNamePattern>../logs/throwable.%d{yyyy-MM-dd}.info.log</fileNamePattern> 
 			<maxHistory>5</maxHistory> 
 		</rollingPolicy> 
 		<encoder> 
 			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern> 
 		</encoder> 
 		<prudent>true</prudent> 
 	</appender> 
	
     <appender name="FileError" class="ch.qos.logback.core.rolling.RollingFileAppender"> 
 	    <filter class="ch.qos.logback.classic.filter.LevelFilter"> 
 	        <level>ERROR</level> 
 	        <OnMismatch>DENY</OnMismatch> 
 	        <OnMatch>ACCEPT</OnMatch> 
 	    </filter> 
 	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> 
 	        <fileNamePattern>../logs/throwable.%d{yyyy-MM-dd}.error.log</fileNamePattern> 
 	        <maxHistory>5</maxHistory> 
 	    </rollingPolicy> 
 	    <encoder> 
         	<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{10} - %msg%n</pattern> 
 	    </encoder> 
 	    <prudent>true</prudent> 
     </appender> 
     -->

	<root level="DEBUG">
		<appender-ref ref="stdout" />
 	<!--  	<appender-ref ref="FileDebug" /> 
 		<appender-ref ref="FileInfo" /> 
    	<appender-ref ref="FileError" /> 
    	-->
	</root>

	<logger name="throwable.server.framework.ThrowableServiceImpl">
		<level value="INFO" />
	</logger>
	<logger name="throwable.server">
		<level value="DEBUG" />
	</logger>
	<logger name="ch.qos.logback">
		<level value="ERROR" />
	</logger>
	<logger name="org.apache.thrift.server">
		<level value="ERROR" />
	</logger>
	<logger name="org">
		<level value="INFO" />
	</logger>
	<logger name="org.nutz.dao">
		<level value="DEBUG" />
	</logger>
</configuration>